/* 
Colour scheme

*/
html body {
	min-width: 900px;
	background: #fff;
}

#wrapper {
	width: 950px;
	margin: 0px auto;
	padding:0;
}


#header {
	height: 90px;
	background: #0A4f9c;
	padding: 0 2px;
	width: 100%;
}

#search {
	clear: both;
}

div.wrapper {
	width: 950px;
	padding: 0;
	margin: 0 auto;
}

#signup {
	float: right;
	margin-right: 1px;
	margin-top: 1px;
	background: #eee;
}

#signup ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#signup ul li { display: inline; }

h1 {
	color: #eee;
	width: 500px;
	float: left;
	padding: 20px 0 0 10px;
	text-transform: lowercase;
	font-size: 2.2em;
}

#nav {
	background-color: #eee;
	padding-top: 8px;
	border-bottom: 4px solid #ccc;
	margin: 0;
}

ul#signup {
	margin: 0;
	padding: 0;
}

#nav ul {
	margin: 0;
	padding: 0;
}

#nav ul li {
	list-style-type: none;
	display: inline;
	margin: 0;
	padding: 0;
}

#nav ul li a {
	display: block;
	padding: 10px 20px;
	color: #ccc;
	background: #666;
	float: left;
	margin: 0;
	margin-right: 5px;
	text-transform: uppercase;
	text-decoration: none;
}

#nav ul li.current a {
	background: #ccc;
	color: #000;
}

#nav ul li a:hover {
	background: #999;
	color: #fff;
}

ul#signup li a {
	padding: 8px 15px;
	background: #038890;
}

div.seperator {
	background: #252A2D;
	height: 40px;
}

#content {
	width: 100%;
	margin-top: 0px;
}

#home_feature {
	padding: 0;
	margin:  0 0 20px 0;
	background: #2E3438;
	height: 280px;
	width: 100%;
}

#home_body { 
	width: 100%;
	margin: 0;
	padding: 10px 15px;
	background: #fff;
}

#home_body div.postcard {
	display: block;
}

h2.title { 
	color: #03889c;
	font-size: 2.6em;
}

div.postcard {
	padding-bottom: 10px;
	margin: 0 5px 10px 0;
	border-bottom: 3px solid #F3F2E8;
}

div.postcard h3 {
	font-size: 2.2em;
    margin-bottom: 5px;
    padding: 0;
}

span.date {
	font-weight: bold;
	font-size: 0.9em;
}

div.postcard h3 a:link, div.postcard h3 a:visited {
	color: #be5502;
	text-decoration: none;
}

div.postcard h3 a:hover, div.postcard h3 a:active {
	color: #333;
}

div.postcard p { 
    margin: 0; 
}

div.latest_postcards {
	border-right: 1px solid #f3f2eb;
}

div.sidebar {
	/*background: #F3F2E8;*/
	margin: 0 0 0 1px;
	padding: 0;
	/*border-left: 2px solid #f3f2e8;*/
}

div.logos img {
	text-align: center;
	border: 1px solid #ccc;
	padding: 2px;
	
}

#postcard, #side-bar {
	margin-top: 10px;
	font-size: 1.3em;
}

#postcard h2 {
	font-size: 1.5em;
	text-transform: uppercase;
	margin-bottom: 5px;
	padding: 0;
}

p.sender, p.dated {
	margin: 0 0 5px 0;
	padding: 0;
	text-transform: uppercase;
}

#postcard img {
	float: left;
	margin: 0 10px 10px 0;
	border: 1px solid #666;
	padding: 2px;
}

p.meta {
   font-size: 0.9em;
   padding: 2px;
}

div#slider {
	margin: 0;
	padding: 10px;
	color: #eee;
}

div.slider h3 {
    font-size: 2.2em;
}

div.slider p.desc {
	font-size: 1.7em;
	margin-bottom: 5px;
}

div.slider p {
    font-size: 1.2em;
	padding-bottom: 3px;
}

div.about {
	background: #039BB2;
	color: #eee;
	height: 207px;
	padding: 20px;
	margin: 10px 0;
	border: 2px solid #fff;
}

div.postcard-meta {
	clear: both;
}

div.tag_cloud {
	padding: 0;
}

.spacer { clear: both; }

a.tag { padding: 0 3px; }

#footer {
	clear: both;
	background: #333;
	height: 100px;
	color: #eee;
	margin: 20px 0;
}

#footer p {
	padding: 20px;
}
/* === FLASH MESSAGES === */
div#flash-notice {
  background: aqua;
  color: #333;
  padding: 10px;
  text-align: center;
  font-size: 1.3em;
  margin: 10px 5px;
}

div#flash-warning {
  background: pink;
  padding: 10px;
  text-align: center;
  font-size: 1.3em;
  margin: 10px 5px;	
}

div#flash-error {
  background: red;
  padding: 10px;
  text-align: center;
  font-size: 1.3em;
  margin: 10px 5px;

}


/* === ERROR MESSAGES === */
div#errorExplanation {
	
}

div#errorExplanation h2 {
	
}

div#errorExplanation p {
	
}

div#errorExplanation ul {
	
}

div#errorExplanation ul li {
	
}

/* === FORMS === */
div.fieldWithErrors {

}

.fieldWithErrors label {
	font-size: 1.2em;
	font-weight: bold;
	color: #f66;
}

div.fieldWithErrors input, div.fieldWithErrors select, 
div.fieldWithErrors textarea
{
	/*border: 2px solid #f66;*/
}

div.widget_voting {
	float: right;
	margin-right: 10px;
}

#vote_score {
	float: right;
	color: #9c9;
	font-size: 0.9em;
}

#vote_form {
	margin: 10px 0;
}

#vote_form input {
	padding: 3px 5px;
	border: 3px solid #393;
	background-color: #cfc;
	text-decoration: none;
	color: #393;
	font-size: 1.3em;
}

#vote_form input:hover {
	background-color: #aea;
}

fieldset ol {
	list-style-type: none;
}

fieldset ol li {
	font-size: 1.3em;
	margin: 5px;
	padding: 0;
}

form label {
	padding-bottom: 0;
	margin-bottom: 0;
}

form select {
	font-size: 1.3em;
	padding: 1px;
}

/** For tag cloud **/
.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }
a.css3:link { color: red; }
/** end cloud **/

form.edit_postcard input {
	padding: 3px 5px;
	border: 3px solid #393;
	background-color: #cfc;
	text-decoration: none;
	color: #393;
	font-size: 1.2em;
	width: 100px;
}

p.delete {
	padding: 3px 5px;
	border: 3px solid #666;
	background-color: #eee;
	text-decoration: none;
	font-size: 1.2em;
	width: 84px;
	text-align: center;
}

p.delete a {
	text-decoration: none;
	color: #666;
}

p.delete:hover {
	color: #eee;
}

#slider ul.navigation {
	list-style-type: none;
	position: absolute;
	top: 410px;
	left: 645px;
	z-index: 1;
}

#slider ul.navigation li {
	list-style-type: none;
	display: inline;
}

#slider ul.navigation li a {
	display: block;
	background: #eee;
	padding: 5px 10px;
	margin-right: 5px;
	float: left;
	text-decoration: none;
}

.image-wrapper img {
	width: 590px;
	height: 250px;
	
}

.image-wrapper { 
    float: left; 
    width: 600px; 
    position: relative; 
    margin: 0; 
}

div.text-over-image {
	position: absolute;
	top: 160px;
	left: 0px;
	width: 590px;
	height: 90px;
	background: #F76600;
	opacity: .5;
}

.image-wrapper h2 { 
	padding: 10px 0 0 20px;
	margin: 0;
}

.image-wrapper h2 a:link {
	text-decoration: none;
	color: #fff;
}

.image-wrapper p { 
    color: #eee; 
    text-decoration: none; 
    font-size: 1.1em;  
	padding-left: 20px;
	margin: 0;
}

div.seperator p.invite {
	text-align: right;
	padding: 7px 10px 0 0;
	color: #f76600;
	font-size: 1.3em;
}
