<% if related.approved? && related.id != @postcard.id %>
<% div_for(related, :class => "span-6") do %>
	<div class="image span-3"><%= image_tag related.photo.url(:thumb) %></div>
	<div class="post-data span-3 last">
		<h3><%= link_to related.title, related %></h3>
		<p class="desc"><%= related.description[0, 200] %>... <%= link_to "Read more", related %></p>
	</div>
	<div class="spacer"></div>
	<% end %>
<% end %>